/build/
/_deps/
CMakeCache.txt
/CMakeFiles/
/bin/
/lib/
*.cmake 
Makefile
testHarness
/.vscode/
*.out

backend/userDatabase.hpp
frontend/citrusdb/node_modules/
/Crow/
frontend/citrusdb/src/components/API/main
frontend/citrusdb/src/components/API/CMakeFiles/